<% include partials/head %>

<body>
  <section id="su-login">
    <div class="container">
      <form action="/auth" method="POST" name="su-login">
        <h1 class="section-heading">Admin Login</h1>
        <% if (result.message){%>
        <div class="message"><%= result.message %></div>
        <%} %>

        <div class="form-element">
          <label for="firstname">
            <!-- Firstname : -->
          </label>
          <input required name="firstname" class="form-control" value="Admin" type="hidden" />
        </div>

        <div class="form-element">
          <label for="username">
            Username :
          </label>
          <input required name="username" class="form-control" type="text" placeholder="Username" />
        </div>

        <div class="form-element">
          <label for="password">
            Password :
          </label>
          <input required name="password" class="form-control" type="password" placeholder="Password" />
        </div>

        <button type="submit" class="form-control btn btn-primary">Login</button>
      </form>
    </div>
  </section>
  <% include partials/footer %>
</body>

</html>