<% include partials/head %>

<body>
  <section id="su-login">
    <div class="container">
      <form action="POST" name="su-login">
        <h1 class="section-heading">Member Login</h1>
        <div class="form-element">
          <label for="su-id">
            Enter your ID:
          </label>
          <input required class="form-control" type="text" placeholder="Unit ID" />
        </div>

        <button type="submit" class="form-control btn btn-primary">Login</button>
      </form>
    </div>
  </section>

</body>

</html>