<% include partials/head %>

<body>
  <% include partials/navbar %>
  <section id="select-sg">
    <div class="container">
      <h1 class="section-heading"> Please select your Service Group & Proceed </h1>
      <div class="sg-wrapper">
        <% if(result.data) {
          result.data.sort() .forEach(record => {
        %>

        <div class="sg-card">

          <!-- <img class="su-logo" src="/img/ft-choir-logo.jpg" alt="ICTG" /> -->
          <h3 class="su-title"> <%= record.unit.toUpperCase() %> </h3>
          <article class="sg-intro">
            <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. At voluptate a reiciendis harum suscipit in,
            consequuntur magni esse numquam voluptatum consequatur quasi repudiandae ad quia commodi aliquam fugit odio
            maiores? -->
          </article>
          <a href="/units/<%= record.unit_id %>" class="btn"> Proceed </a>

        </div>
        <%
          })
        }%>




      </div>
    </div>
  </section>

  <% include partials/footer %>


</body>

</html>