<% let title = 'Invalid' %>
<% include partials/head %>

<body>
  <div class="container">
    <div class="flash-message">
      <% if (result.status) {%>
      <h1 class="section-heading"> <%= result.status %></h1>
      <%}%>
      
      <% if (result.message) {%>
      <article class="message"> <%= result.message %></article>
      <%}%>
         
      </div>
  </div>
  <script src=""></script>
</body>

</html>