<div class="appname">
  <h1 class="admin-logo">SU </h1>
  <h1 class="fa fa-bars admin-menu-icon"></h1>
  <span class="sidebar-toggle-btn fa fa-times-circle"></span>
</div>
<ul class="options">
  <li><i class="fa fa-book"></i> <a href="/auth/admin?page=unit_list&units_list=true">Units</a></li>
  <li><i class="fa fa-tags"></i> <a href="/auth/admin?page=admin_list&admin_list=true">Unit Admins</a></li>
  <li><i class="fa fa-comment"></i> <a href="/auth/admin?members=true">Members</a></li>
  <li><i class="fa fa-arrow-circle-left"></i> <a href="#">Logout</a></li>
</ul>