<div class="appname">
  <h1 class="admin-logo">SU </h1>
  <h1 class="fa fa-bars admin-menu-icon"></h1>
  <span class="sidebar-toggle-btn fa fa-times-circle"></span>
</div>
<ul class="options">
  <li><i class="fa fa-plus-circle"></i> <a href="/admin?page=add_unit&add_unit=true">Add Unit</a></li>
  <li><i class="fa fa-book"></i> <a href="/admin?page=unit_list&unit_list=true">View Units</a></li>
  <li><i class="fa fa-refresh"></i> <a href="/admin?page=data_reset&data_reset=true">Reset</a></li>
  <li><i class="fa fa-users"></i> <a href="/admin?page=member_list&members=true">Members</a></li>
  <li><i class="fa fa-file-archive"></i> <a href="/admin?page=master_report&master_report=true">Report</a></li>
  <li><i class="fa fa-arrow-circle-left"></i> <a href="/logout">Logout</a></li>
</ul>