<form action="/admin" method="POST">

  <div class="form-element">
    <label for="unit_id">Unit ID</label>
    <input class="form-control" name="unit_id" type="text" required />
  </div>

  <div class="form-element">
    <label for="unit">Unit </label>
    <input name="unit" class="form-control" type="text" required />
  </div>

  <button type="submit" class="btn btn-primary">Add Unit</button>
</form>